.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hex {
  --hexagon-unit-width: 130px;
  --hexagon-unit-margin: 2px;
  width: var(--hexagon-unit-width);
  margin: 0px var(--hexagon-unit-margin);
  transition: transform 0.5s ease;
}

.hex:hover {
  cursor: pointer;
  transform: scale(1.08);
}

.hex image {
  x: calc(50% * (1 - 1.17));
  y: calc(50% * (1.03 - 1));
}

.row {
  display: flex;
  flex-direction: row;
}

.row:nth-child(even) > * {
  margin: calc(var(--hexagon-unit-width) / -4) var(--hexagon-unit-margin);
  /* transform: translateX(calc((var(--hexagon-unit-width) / 2) + 2px)); */
}

.row:nth-child(even) > .hex:hover {
  /* transform: translateX(calc((var(--hexagon-unit-width) / 2) + 2px)) scale(1.08); */
  transform: scale(1.08);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
