* {
  box-sizing: border-box;
}

.App {
  box-sizing: border-box;
  background-color: #282c34;
  min-height: 100vh;
}

.about-me {
  height: 100px;
}

.about-me-button {
  float: right;
  margin: 20px;
}

.app-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hex-grid {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 0;
}

.hex {
  position: relative;
  --hexagon-unit-width: 150px;
  --hexagon-unit-margin: 2px;
  width: var(--hexagon-unit-width);
  height: auto;
  margin: -7px var(--hexagon-unit-margin);
  transition: transform 0.5s ease;
  z-index: 0;
}

.hex:hover {
  cursor: pointer;
  transform: scale(1.08);
}

.hex image {
  x: calc(50% * (1 - 1.17));
  y: calc(50% * (1.03 - 1));
}

.grayscale {
  filter: grayscale(1);
}

.hex-flag {
  position: absolute;
  height: 40px;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.checkmark-symbol {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  left: 50%;
  top: 50%;
  font-size: 100px;
  color: #008000;
}

.row {
  display: flex;
  flex-direction: row-reverse;
}

.row:nth-child(even) > * {
  margin: calc(var(--hexagon-unit-width) / -4) var(--hexagon-unit-margin);
  /* transform: translateX(calc((var(--hexagon-unit-width) / 2) + 2px)); */
}

.row:nth-child(even) > .hex:hover {
  /* transform: translateX(calc((var(--hexagon-unit-width) / 2) + 2px)) scale(1.08); */
  transform: scale(1.08);
}

.ReactModal__Overlay {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: scale(1);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-close-button {
  float: right;
  color: red;
  border: none;
  background-color: transparent;
  margin-top: -10px;
  font-size: 30px;
  outline: none;
  transition: color 0.2s ease;
}

.modal-close-button:active {
  color: darkred;
}

.modal-content {
  display: flex;
  align-items: flex-start;
}

.modal-portrait {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portrait-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.modal-selected-portrait {
  width: 150px;
}

.modal-selected-flag {
  width: 50px;
  transform: translateY(-20px);
}

.modal-description {
  margin-left: 20px;
}

.modal-description * {
  color: whitesmoke;
}

.modal-title {
  display: inline-block;
  margin: 0px;
  color: whitesmoke;
  font-size: 3rem;
}

.modal-wiki-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
}

.modal-link-img {
  margin: 5px;
}

.modal-button {
  margin: 10px;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  border: 0px;
  font-size: larger;
  text-transform: uppercase;
  outline: none;
  transition: background-color 0.2s ease;
}

.modal-button:hover {
  cursor: pointer;
}

.ban-button {
  background-color: red;
}

.ban-button:active {
  background-color: darkred;
}

.select-button {
  background-color: green;
}

.select-button:active {
  background-color: darkgreen;
}

.description-li {
  margin: 5px 0px;
}

.description-icon {
  margin: 5px;
  height: 44px;
}

.modal-description-span {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.random-draft-button {
  margin: 20px;
  background-color: yellowgreen;
}

.random-draft-button:active {
  background-color: green;
}

.random-draft-modal-content * {
  color: whitesmoke;
}

.selected-names {
  width: calc(100% - 40px);
  resize: none;
  color: black;
  font-size: 1.5rem;
  margin: 5px 20px;
  border: none;
  border-radius: 10px;
}

.run-draft-button {
  float: right;
  width: 250px;
  height: 80px;
  background-color: yellowgreen;
  color: black;
  font-size: 30px;
}

.run-draft-button:active {
  background-color: green;
}

.random-draft-cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.random-draft-card-result {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 30px;
  width: 50%;
}

.card-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
}

.card-text {
  margin: 0;
}

.modal-content-vertical {
  display: flex;
  flex-direction: column;
}

.clickables {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.clickable-box {
  display: flex;
  flex-direction: row;
  width: auto;
  min-width: 50%;
  padding: 20px;
  height: 150px;
  align-items: center;
}

.clickable-image-wrapper {
  width: 100px;
  min-width: 80px;
  position: relative;
  text-decoration: none;
}

.clickable-image {
  width: 100%;
  min-width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-out;
}

.clickable-box:hover .clickable-image {
  transform: translate(-50%, -50%) scale(1.08);
}

.clickable-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px;
}

.indented-subtitle {
  margin: 0;
  margin-left: 20px;
}

@media only screen and (max-width: 950px) {
  .hex {
    --hexagon-unit-width: 100px;
  }
  .clickable-box {
    height: 130px;
    padding: 10px;
  }
  .modal-portrait {
    float: left;
    margin: 0px 40px 0px 0px;
  }

  .modal-content {
    display: initial;
  }
  .checkmark-symbol {
    font-size: 80px;
  }
}

@media only screen {
  .about-me-button {
    margin: 20px 20px 0px 0px;
  }
  .about-me {
    margin-bottom: 20px;
  }
}
