.App {
  text-align: center;
  box-sizing: border-box;
}

.hex-grid {
  position: relative;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 0;
}

.hex {
  position: relative;
  --hexagon-unit-width: 150px;
  --hexagon-unit-margin: 2px;
  width: var(--hexagon-unit-width);
  height: auto;
  margin: -7px var(--hexagon-unit-margin);
  transition: transform 0.5s ease;
  z-index: 0;
}

.hex:hover {
  cursor: pointer;
  transform: scale(1.08);
}

.hex image {
  x: calc(50% * (1 - 1.17));
  y: calc(50% * (1.03 - 1));
}

.grayscale {
  filter: grayscale(1);
}

.hex-flag {
  position: absolute;
  height: 40px;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.banned-symbol {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  left: 50%;
  top: 50%;
  font-size: 100px;
  color: red;
}

.checkmark-symbol {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  left: 50%;
  top: 50%;
  font-size: 100px;
  color: green;
}

.row {
  display: flex;
  flex-direction: row;
}

.row:nth-child(even) > * {
  margin: calc(var(--hexagon-unit-width) / -4) var(--hexagon-unit-margin);
  /* transform: translateX(calc((var(--hexagon-unit-width) / 2) + 2px)); */
}

.row:nth-child(even) > .hex:hover {
  /* transform: translateX(calc((var(--hexagon-unit-width) / 2) + 2px)) scale(1.08); */
  transform: scale(1.08);
}

.ReactModal__Overlay {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: scale(1);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-close-button {
  float: right;
  color: red;
  border: none;
  background-color: transparent;
  margin-top: -10px;
  font-size: 30px;
}

.modal-content {
  display: flex;
  align-items: flex-start;
}

.modal-portrait {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-selected-portrait {
  width: 150px;
}

.modal-selected-flag {
  position: absolute;
  width: 50px;
  transform: translate(0px, 130px);
}

.modal-description {
  margin-left: 20px;
}

.modal-description * {
  color: whitesmoke;
}

.modal-title {
  display: inline-block;
  margin: 0px;
  color: whitesmoke;
  font-size: 3rem;
}

.modal-wiki-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
}

.modal-link-img {
  margin: 5px;
}

.modal-button {
  margin: 10px;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  border: 0px;
  font-size: larger;
  text-transform: uppercase;
}

.modal-button:hover {
  cursor: pointer;
}

.ban-button {
  background-color: red;
}

.select-button {
  background-color: green;
}

.description-li {
  margin: 5px 0px;
}

.description-icon {
  margin: 5px;
  height: 44px;
}

.modal-description-span {
  display: flex;
  flex-direction: row;
  align-items: center;
}
